body {
    background-color: #0000FF;
    background-image: url("images/backg5.jpg");
  }
  
  h3 {
    color: #00FF00;
  }
  
  h4 {
    color: #FF0000;
  }
  
  h2 {
    color: #00FFFF;
  }
  
  a {
      color: lime;
  }
  .myCourgette {
    font-family: 'Courgette', cursive;
    color: #FF0000;
    text-shadow: 2px 2px 4px #Ff00ff;
  }
  
  .textChange {
    color: #FF0000;
    font-size: 1.4em;
    font-family: 'Charmonman', cursive;
  }
  
  .theTitle {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
  }
  
  .allLogos {
    grid-area: logo;
  }
  
  .footing {
    grid-area: footer;
  }
  
  .grid-container {
    background-image: url("images/backg7.jpg");
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "logo     header header ..."
      "logo     main   main  main"
      "logo     footer footer ...";
    grid-gap: 20px;
    background-color: #ff33bb;
    padding: 30px;
  }
  
  @media screen and (max-width: 40em) {
    .grid-container {
      background-image: url("../images/space3.jpg");
      grid-template-areas:
        "header"
        "logo"
        "main"
        "footer";
    }
  
    .myCourgette {
      font-family: 'Courgette', cursive;
      color: #FF00FF;
      text-shadow: 2px 2px 4px #0000ff;
    }
  }
  
  .grid-container>div {
    background-color: rgba(255, 0, 255, 0.2);
    border: 6px solid DARKBLUE;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 255, 0.3);
    /* text-align: center; */
    padding: 20px 0;
    font-size: 30px;
  }
  
  .zoom {
    padding: 50px;
    background-color: lightblue;
    transition: transform .3s;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 5px ridge #43d24f;
    box-shadow: 10px 10px 20px #a10b0b
  }
  
  .zoom:hover {
    transform: scale(1.2);
  }

  #clockDisplay {
    color: cyan;
    font-size: 35px;
    font-family: 'Courgette', cursive;
    border: 2px solid lime;
    background-color: red;
    text-align: center;
    width: 40%;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
}