body {
    background-color: lightblue;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
}

input[type=text] {
    font-size: 1.2em;
    border: 2px solid green;
    border-radius: 4px;
    background-color: red;
}

.graph {
    color: red;
}